<div class="w-full h-[100vh]">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Magnise Chart</mat-card-title>
      <mat-card-subtitle>{{ status }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-top-bar [chartType]="chartType" />
      <div class="w-full">
        @if ( chartType === 'live') {
          <app-live-chart />
        }
        @if (chartType === 'historical') {
          <app-bars />
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
